/* General Reset and Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  background-image: url('/Media/Backgrounds/Header-Background.jpeg');
  background-size:contain;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  transition: box-shadow 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 0 15px gold;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  color: gold;
  padding: 30px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header, main, aside, footer {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5px; 
  padding: 15px 20px;
  background: black;
  margin: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: inline-block;
}

nav ul li a:hover {
  background-color: gold;
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  margin: 0 auto;
  cursor: pointer;
}

section {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  background-color: #000000;
  color: #fff;
  padding: 1rem 0;
  width: 100%;
}

.images-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  max-width: 100%;
  flex-wrap: wrap;
}

.img-1{
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 400px; 
  min-height: 300px;
  max-height: 500px;
}

.img-1:hover, .img-2:hover{
  transform: scale(1.07);
  box-shadow: gold 5px 5px 5px;
  transition: 0.5s;
}

.img-2{
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 500px; 
  min-height: 300px;
  max-height: 400px;
}

/* Responsive Navigation */
@media (max-width: 768px) {
  .img-1{
    width: 50%;
    min-height: 300px;
    max-height: 400px;
  }
  .img-2{
    width: 65%;
    min-height: 200px;
    max-height: 300px;
  }
  body{
    padding: 20px;
  }

  .fas.fa-bars{
    font-size: 3rem;
  }
  .fas.fa-bars:hover{
    color: gold;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    margin: 0 auto;
    cursor: pointer;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transform: translateY(-100%); 
    opacity: 0; 
  }

  nav ul.visible {
    display: flex;
    transform: translateY(0);
    opacity: 1;
  }

  nav ul li {
    width: 50%;

    text-align: center;
  }
}


/* _____________Home Page___________ */
.home {
  line-height: 1.4;
  background-color: #000000;
  background-image: url('/Media/Backgrounds/background5.png');
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  width: 100%;
  scroll-behavior: smooth;
  padding: 20px;
}

.main-pic{
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border-radius: 10px;
  display: block;
}

.five-champions-leagues, .calma, .point-to-ground{
  height: 400px; 
  width: 600px; 
  margin: 0 auto; 
  border-radius: 10px;
  display: block;
}

.leap{
  height: 300px; 
  width: 500px; 
  margin: 0 auto; 
  border-radius: 10px;
  display: block;
}

.main-pic:hover, .five-champions-leagues:hover, .calma:hover, .point-to-ground:hover, .leap:hover{
  transform: scale(1.07);
  box-shadow: gold 0px 0px 15px;
  transition: 0.5s;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  header {
    width: 100%;
  }

  .main-pic{
    max-width: 100%;
    max-height: 300px;
  }

  .five-champions-leagues, .calma, .point-to-ground{
    max-width: 100%;
    max-height: 300px;
    
  }

  .leap{
    max-width: 100%;
    max-height: 300px;
  }

}


/* _____________Club Career Page___________ */
.club-career {
  line-height: 1.5;
  background-color: #000000;
  background-image: url('/Media/Backgrounds/wp11954242-champions-league-stadium-wallpapers.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  scroll-behavior: smooth;
}

.early-life, .the-big-leap, .the-madrid-icon, .a-new-challenge, .challenging-homecomming, .age-is-only-a-number{
  border: blue 5px solid;
  border-radius: 10px;
  box-shadow: blueviolet 0px 0px 25px;
  padding: 5px;
}

.club-career p{
  padding: 5px;
  text-align: justify;
  color: #ffffff;
}

@media (max-width: 768px) {
 

}

/* _____________International Career Page___________ */
.international-career {
  line-height: 1.5;
  background-color: #000000;
  background-image: url('/Media/Backgrounds/uwp4685637.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  scroll-behavior: smooth;
}

.portugese-icon {
  border: red 5px solid;
  border-radius: 10px;
  box-shadow: red 0px 0px 25px;
  padding: 10px;
  align-content: center;
}

.portugese-icon p {
  padding: 5px;
  text-align: justify;
  color: #ffffff;
}

@media (max-width: 768px) {
 

}